


@media only screen and (max-width:1024px){
    .border-top::after,#footer::after,.library-box::after,#friendlink::after,.border-bottom::after,.play .app-text::after{-webkit-transform:scaleY(.5);transform:scaleY(.5)}
}
.arrow-bottom,.drop-content-items::before{width:0;height:0;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:8px solid rgba(7,7,10,.92)}
.arrow-top,.module-tab-item.selected::after{width:0;height:0;border-left:7px solid transparent;border-right:7px solid transparent;border-top:8px solid rgba(7,7,10,.92)}
@font-face{font-family:dianyingim;src:url(/static/css/font/dianyingim.eot);src:url(/static/css/font/dianyingim.eot#iefix) format("embedded-opentype"),url(/static/css/dianyingim.ttf) format("truetype"),url(/static/css/dianyingim.woff) format("woff"),url(https://cokemv.cn/template/dingyingmr/static/font/dianyingim.svg#dianyingim) format("svg");font-weight:400;font-style:normal;font-display:block}
[class^=icon-],[class*=" icon-"]{font-family:dianyingim!important;speak:never;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;vertical-align:revert;display:inline-block;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-apple:before{content:"\e922"}
.icon-app:before{content:"\e921"}
.icon-android:before{content:"\e920"}
.icon-domain:before{content:"\e91f"}
.icon-next:before{content:"\e91e"}
.icon-home:before{content:"\e91d"}
.icon-happy:before{content:"\e900"}
.icon-arrow-bottom-o:before{content:"\e901"}
.icon-watch-history:before{content:"\e902"}
.icon-search:before{content:"\e903"}
.icon-arrow-bottom:before{content:"\e904"}
.icon-play:before{content:"\e905"}
.icon-cate-zy:before{content:"\e906"}
.icon-clear:before{content:"\e907"}
.icon-cate-dm:before{content:"\e908"}
.icon-cate-ds:before{content:"\e909"}
.icon-cate-dy:before{content:"\e90a"}
.icon-close-o:before{content:"\e90b"}
.icon-all:before{content:"\e90c"}
.icon-arrow-right:before{content:"\e90d"}
.icon-sort:before{content:"\e90e"}
.icon-close:before{content:"\e90f"}
.icon-share:before{content:"\e910"}
.icon-arrow-right-o:before{content:"\e911"}
.icon-hot:before{content:"\e912"}
.icon-hot-o:before{content:"\e913"}
.icon-more:before{content:"\e914"}
.icon-warn:before{content:"\e915"}
.icon-tv:before{content:"\e916"}
.icon-video-file:before{content:"\e917"}
.icon-qrcode:before{content:"\e918"}
.icon-download:before{content:"\e919"}
.icon-url:before{content:"\e91a"}
.icon-download-bold:before{content:"\e91b"}
.icon-screen-o:before{content:"\e91c"}
.icon-arrow-left-o:before{content:"\e91e"}
.icon{width:16px;height:16px;margin-right:5px}
.more i{margin:0 -5px 0 0}
.more i,.load-all i{
    vertical-align:-1px;transform:scale(.8);
}

@media only screen and (max-width:559px){
    .load-all{min-width:100%}
}
.shortcuts-mobile-overlay{pointer-events:none;position:fixed;top:0;left:0;bottom:0;right:0;background-color:transparent;content:"";z-index:9}
.flex,.nav,.module-heading{
    display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-direction:normal;-webkit-box-orient:horizontal;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;align-items:center;
}
.module-tab{
    display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-direction:normal;-webkit-box-orient:horizontal;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-justify-content:flex-end;-moz-justify-content:flex-end;-ms-justify-content:flex-end;justify-content:flex-end;-ms-flex-pack:flex-end
}

.nowrap,.list-item-link,.module-blocklist a,.module-item-caption span,.module-item-style.video-name,.module-item-style.video-tag a,.module-item-title,.module-item-text,.module-row-title h4,.module-row-title p,.video-subtitle,.video-info-aux,.video-info-items .video-info-actor,.tips-list li,.module-search-item .video-info-header h3,.module-search-item .video-info-items:nth-child(3) .video-info-item{
    display:block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;
}
.clearfix:after,.clearfix:before{
    display:table;content:""
}
.clearfix:after{clear:both}
.disabled{
    cursor:not-allowed!important
}
.scroll-box-y{max-height:30vh;overflow-y:auto}
.scroll-box-y::-webkit-scrollbar{width:6px;height:1px}
.scroll-box-y::-webkit-scrollbar-thumb{border-radius:10px;background:rgba(0,0,0,.51)}
.scroll-box-y::-webkit-scrollbar-track{background:0 0;margin:2px}
.playon{height:8px;position:absolute;left:calc(50% - 11px);bottom:0}
.playon i{width:4px;height:6px;border-radius:5px 5px 0 0;background-color:#e50914;position:absolute;bottom:0;left:0}
.playon i:nth-last-child(1){animation:playon .8s .3s infinite}
.playon i:nth-last-child(2){animation:playon .8s .1s infinite;left:6px}
.playon i:nth-last-child(3){animation:playon .6s .2s infinite;left:12px}
.playon i:nth-last-child(4){animation:playon 1s .3s infinite;left:18px}

@keyframes playon{0%{height:70%}
50%{height:100%}
100%{height:35%}
}

.module-tab-item,.module-blocklist a,.library-item,.video-serial{padding:0 20px;line-height:35px;font-size:14px;display:inline-block;border-radius:10px;}
.module-tab-item,.module-blocklist a{background:#f3f5f7;color:rgba(0,0,0,.68);}
.module-tab-item:hover,.module-blocklist a:hover{background:#eaedf1;}

@media only screen and (max-width:559px){
    .more,.module-tab-item,.module-blocklist a{font-size:12px;}
.slash{padding:0 4px}
.mobile-open{overflow:hidden;height:100%;}
.mobile{overflow:hidden;height:100%;}
}

.cancel-btn{display:none}
.open~.shortcuts-mobile-overlay{background-color:rgba(0,0,0,.5);pointer-events:auto;z-index:99}
.module{padding-bottom:20px}
.module-wrapper{display:flex}
.module-main{width:1520px}
.module-side{margin-left:20px;width:200px}
.tab-list,.module-downlist{display:none}
.tab-list.selected,.module-downlist.selected{display:block}
.module-downlist.selected .module-row-text,.tab-list.selected .module-blocklist a{
    animation:opacity .2s;-webkit-animation:opacity .2s;
}
@keyframes opacity{0%{opacity:100%}
50%{opacity:30%}
100%{opacity:100%}
}@-webkit-keyframes opacity{0%{opacity:100%}
50%{opacity:30%}
100%{opacity:100%}
}

.module-heading{margin-bottom:15px;font-size:0;vertical-align:baseline;position:relative}
.module-heading .more{position:absolute;right:0;top:0;border-radius:18px}
.module-title{font-size:26px;font-weight:400;line-height:1.3}
.module-title span{padding:0 3px;position:relative;top:-2px}
.page-title{font-size:38px;font-weight:700}
.sort-list .module-tab,.module-tab-name,.module-tab-title,.module-tab-input{display:none}
.module-tab{flex:1;white-space:nowrap}
.module-tab-items::-webkit-scrollbar{display:none}
.module-tab-item{margin-left:5px;border-radius:18px;cursor:pointer;position:relative}
.module-tab-item.selected{background:#e50914;font-weight:700;color:#fff}
.module-tab-item.selected::after{content:'';position:absolute;top:99%;left:50%;display:inline-block;margin-left:-7px;border-top:6px solid #e50914}
.module-tab-item i{margin-right:5px;color:#e50914}
.module-tab-item small{position:absolute;right:0;top:0;transform:scale(.8);transform-origin:top right;font-weight:400;background:rgba(0,0,0,.05);-webkit-backdrop-filter:saturate(180%);color:rgba(0,0,0,.4);padding:0 6px 0 5px;border-radius:0 13px 0 5px;height:19px;line-height:20px;font-size:12px}
.module-player-tab .module-tab-items{overflow:auto}
.module-player-tab .module-tab-item{line-height:50px;margin-left:3px;border-radius:10px 10px 0 0}
.module-player-tab .module-tab-item.selected{background:#eaedf1;color:#e50914}
.module-player-tab .module-tab-item.selected::after{border:none}
.module-list{font-size:0}
.module-player-list{padding:15px;background:#eaedf1;margin-bottom:20px;border-radius:10px 0 10px 10px}
.module-blocklist{margin:-5px}
.module-blocklist a{background:#f7f8f9;color:rgba(0,0,0,.68);margin:5px;width:calc(6.66% - 10px);padding:1px 10px;text-align:center;position:relative}
.module-blocklist a:hover{background:#fff;color:#e50914}
.module-blocklist .selected,.module-blocklist .selected:hover{color:#e50914;font-weight:700}
.module-vod-list .module-blocklist a{line-height:1.38;padding:8px 10px;width:calc(12.5% - 10px)}
.module-items{margin-right:-20px}
.module-item{position:relative;width:200px;margin:0 20px 20px 0;display:inline-block;font-size:14px}
.module-item-cover{position:relative;height:0;padding-top:140%;background-position:50% 50%;background-size:cover;overflow:hidden;border-radius:5px}
.module-item-caption{position:absolute;right:0;bottom:0;left:0;height:44px;padding:12px;background:linear-gradient(0deg,rgba(0,0,0,0.68),transparent)}
.module-item-caption span{max-width:58px;background:rgba(0,0,0,.51);color:#c2c6d0;margin:0 5px 0 0}
.module-item-caption span:last-child{margin:0}
.module-item-caption span.video-class:nth-child(n+3){display:none!important}
.module-item-content{transform:translateZ(0);-webkit-transform:translateZ(0);padding:12px 15px;font-size:12px;background:#fff;z-index:2;position:relative}
.module-item-cover:hover .module-item-content{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}
.module-item-style{color:rgba(0,0,0,.62);font-size:0}
.module-item-style.video-name{font-size:16px;font-weight:700}
.module-item-style.video-tag{padding:8px 0}
.module-item-style.video-text{font-size:12px;-webkit-box-orient:vertical;-webkit-line-clamp:3;word-wrap:break-word;display:-webkit-box;max-height:58px;overflow:hidden;line-height:20px;text-overflow:ellipsis;white-space:normal;word-break:break-all}
.module-item-style.video-tag a{background:#eaedf1;max-width:50px;margin:0 5px 0 0;color:rgba(0,0,0,.62)}
.module-item-style.video-tag a:nth-child(n+4){display:none!important}
.module-item-pic,.module-item-pic img{height:100%;width:100%}
.module-item-pic img{top:0;left:0;object-fit:cover;position:absolute}
.module-item-pic img.lazyloading+.loading{position:absolute;opacity:1;bottom:25%;left:50%;margin-left:-15px;width:30px;height:30px;display:inline-block;vertical-align:middle;animation:Loading 1s steps(8,end) infinite;background:#e3e6eb url(../image/load.svg) no-repeat;border-radius:50px;border:5px solid #e3e6eb;background-size:100%}
@keyframes Loading{0%{-webkit-transform:rotate3d(0,0,1,0deg);transform:rotate3d(0,0,1,0deg)}
100%{-webkit-transform:rotate3d(0,0,1,360deg);transform:rotate3d(0,0,1,360deg)}
}.module-item-pic a{padding-top:53px;height:100%;width:100%;text-align:center;position:absolute;background-size:cover;left:0;top:0;z-index:1}
.module-item-pic a i{opacity:0;transform:scale(.6);height:40px;width:40px;background:#fff;color:rgba(7,7,10,.92);border-radius:50px;line-height:40px;text-indent:2.5px;font-size:12px}
.module-item-cover:hover .module-item-pic a{background:rgba(0,0,0,.28)}
.module-item-cover:hover .module-item-pic a i{opacity:.88;transform:scale(.9)}
.module-item-cover:hover .module-item-pic a i:hover{opacity:1}
.module-item-titlebox{margin-top:12px}
.module-item-title{font-weight:700}
.module-item-text{margin-top:3px;color:rgba(0,0,0,.4)}
.module-footer{text-align:center;padding:0 0 30px}
.module-line-list .module-item:nth-child(n+9){display:none}
.module-tab,.view .module-tab{height:50px;overflow:hidden;margin:0 0 -15px 20px;width:90%}
.in{animation:ac 1s}
.out{position:fixed;bottom:10%;right:5%;z-index:9999;animation:an 0.5s}
.player-box-switch{position:absolute;top:50%;right:-9px;width:9px;height:59px;margin-top:-4px;cursor:pointer;z-index:100000000}

@media(max-width:559px){
    .player-box-switch{display:none}
}
@media(max-width:559px){
    .out{display:none}
}
.player-box-switch:hover i{color:#ff2b14}
.player-box-switch .svg_icon{display:inline-block;width:100%;height:100%;vertical-align:top;pointer-events:none}
.player-box-switch i{position:absolute;top:23px;left:-2px;color:#232328;font-size:0.8rem}
.player-block.open .player-box-switch .icon-arrow-right-o,.player-box-switch .icon-zuo{display:none;left:-3px}
.player-block.open .player-box-switch .icon-zuo,.player-box-switch .icon-arrow-right-o{display:block}
.shortcuts-fixed{display:none;position:fixed;width:50px;bottom:10px;right:10px;z-index:20;text-align:center}
.shortcuts-btn{width:50px;height:50px;line-height:50px;color:#fff;font-size:18px;background:rgba(0,0,0,.83);border:none;border-radius:50px;margin-top:5px;display:inline-block}
.s-search-btn{font-weight:900}
@media(min-width:1239px){.player-block{min-height:600px}
.player-block .content{position:relative}
.MacPlayer{border-radius:10px 10px 0 0;overflow:hidden}
.player-box{font-size:0;position:relative}
.player-box-main{width:calc(100% - 380px);display:inline-block}
.player-box-side{width:380px;height:100%;position:absolute;top:88px;right:-15px;bottom:0;border-radius:0 10px 0 0}
.player-side-tab{float:right;width:110px;height:100%;flex:none;display:block;padding:0}
.player-side-tab .module-tab-item{font-size:14px;color:rgba(255,255,255,.5);line-height:inherit;display:block;padding:15px 10px 15px 20px;margin:5px 5px 0;background:#141416;border-radius:0 5px 5px 0}
.player-side-tab .module-tab-item:hover,.player-side-tab .module-tab-item.selected{color:#c2c6d0;background:#232328}
.player-side-tab .module-tab-item.selected{padding-left:25px;margin-left:0;font-weight:700;position:relative;overflow:hidden}
.player-side-playlist{width:280px;padding:20px;background:#232328;overflow-x:auto;margin:0;border-radius:0;min-height:400px}
.player-side-playlist .module-blocklist{margin:-4px;max-height:100%;overflow:initial}
.player-side-playlist .module-blocklist a{margin:4px;width:calc(50% - 8px);color:rgba(255,255,255,.5);background:rgba(0,0,0,.18)}
.player-side-playlist .module-blocklist a:hover{background:rgba(7,7,10,.92)}
.player-side-playlist .module-blocklist a:hover.selected,.player-side-playlist .module-blocklist .selected{background:rgba(7,7,10,.92);color:#c2c6d0}
.player-side-playlist .module-blocklist .playon{display:none}
.module-vod-list.player-side-playlist .module-blocklist a{width:100%}
.player-box-side .module-title{display:none}
.player-box-side .module-heading{display:block;margin:0}
.player-box-side .module-vod-list a{width:calc(100% - 10px)}
.player-box-side .module-tab{height:auto;overflow:auto;margin:0;width:100px}
.player-box-side .module-tab-item small{background:rgba(255,255,255,.05);border-radius:0 5px 0 5px;color:rgba(255,255,255,.3)}
.player-side-playlist::-webkit-scrollbar{width:6px;height:1px}
.player-side-playlist::-webkit-scrollbar-thumb{border-radius:10px;background:#505050}
.player-side-playlist::-webkit-scrollbar-track{background:0 0;margin:2px}
.video-player-handle .drop:hover .handle-btn::after,.video-player-handle .handle-btn:hover::after{background:#232328}
.video-player-handle .handle-btn::after{border-color:#232328}
.video-player-handle .handle-btn i{color:#8f8f8f}
.video-player-handle .drop .drop-content-box{transform:translateZ(0);-webkit-transform:translateZ(0);transition-duration:0s}
.video-player-handle .drop .drop-content{top:inherit!important;bottom:50px;z-index:999999}
.video-player-handle .drop .drop-content-items::before{top:inherit;bottom:-16px;border-top:8px solid #fff;border-bottom-color:transparent}
.player-info .video-info-header{max-width:65%}
}@media(max-width:1789px){.content{max-width:1520px}
.module-main{width:1300px}
.module-items{margin-right:-18px}
.module-item{width:calc(14.285% - 18px);margin:0 18px 15px 0}
.module-lines-list .module-item:nth-child(n+15),.module-main .module-lines-list .module-item:nth-child(n+15),.module-line-list .module-item:nth-child(n+8),.module-lines-list .module-item:nth-child(n+17){display:none}
}@media(max-width:1549px){.col-lg-wide-6{width:67%!important}
.col-lg-wide-25{width:30%!important}
.content{max-width:1270px}
.module-main{width:1212px}
.module-side{width:228px}
.module-item{width:196px}
.module-blocklist a{width:calc(8.33% - 10px)}
.module-vod-list .module-blocklist a{width:calc(16.66% - 10px)}
.module-main .module-lines-list .module-item:nth-child(n+11),.module-line-list .module-item:nth-child(n+7),.module-lines-list .module-item:nth-child(n+13){display:none}
.module-item-pic a{padding-top:45px}
.module-item-cover:hover .module-item-pic a i{transform:scale(.9)}
.player-info .video-info-header{max-width:60%}
.player-tips-main{padding:0 25%}
}@media(max-width:1329px){.content{max-width:1180px}
.module-item{width:175px}
.module-main{width:955px}
.module-side{width:175px}
.text-list-title h3{font-size:14px}
.module-side{width:175px}
.module-item-pic a{padding-top:52px}
.module-blocklist a{width:calc(12.5% - 10px)}
.module-vod-list .module-blocklist a{width:calc(20% - 10px)}
.module-item-style.video-tag a{max-width:46px;margin:0 4px 0 0}
.module-item-pic a{padding-top:40px}
.module-item-cover:hover .module-item-pic a i{transform:scale(.8)}
.module-item-style.video-text{-webkit-line-clamp:2}
.player-info .video-info-header{max-width:55%}
.player-tips-main{padding:0 30%}
}@media(max-width:1239px){.content{max-width:100%;padding:0 50px}
.module-main .module-item{width:calc(25% - 20px)}
.module-side{width:calc(25% - 20px)}
.module-main .module-lines-list .module-item:nth-child(n+9){display:none}
.text-list-item{padding:13px 10px}
.text-list-title{max-width:160px}
.module-side{width:calc(25% - 20px)}
.block-box-content{padding:15px 10px}
.player-box{margin:-20px -50px 0}
.player-box-side,.player-info{background:#fff;padding:20px 50px}
.player-box-side{margin:0 -50px -20px}
.player-box-side .module-play-list{margin-bottom:0}
.player-box-side{margin:10px -50px -50px}
.drop:hover .shortcuts-mobile-overlay{background-color:rgba(0,0,0,.1)}
.module-bg{background:linear-gradient(180deg,#fff,#fff);margin:0 -30px;padding:20px 30px 10px}
.module-title{font-weight:500;font-size:20px;line-height:1.1}
.module-heading .more{right:3px;top:-8px}
.module-player-list{padding:20px 30px;border-radius:0;margin:15px -30px 20px}
.module-items{margin-right:-12px}
.module-wrapper{display:block}
.module-main{width:100%}
.module-side{width:auto;margin:0}
.module-side .module-bg{padding-top:0;padding-bottom:0}
.module-main .module-item,.module-item{width:calc(20% - 12px)}
.module-item{margin:0 12px 15px 0}
.module-item-text{font-size:12px;margin-top:1px;color:#aaadb5}
.module-item:last-child{margin-right:0!important}
.module-main .module-lines-list .module-item:nth-child(n+9),.module-line-list .module-item:nth-child(n+6){display:inline-block}
.module-main .module-lines-list .module-item:nth-child(n+11),.module-line-list .module-item:nth-child(n+11),.module-lines-list .module-item:nth-child(n+11){display:none}
.module-item-title{font-weight:400}
.module-blocklist{margin-top:0!important;padding-bottom:0!important}
.module-player-tab .module-tab-item{padding:0 18px}
.module-type{padding-top:20px}
.module-vod-list .module-blocklist a{width:calc(20% - 10px)}
.scroll-box{margin:15px -20px 0;padding:0 20px 20px;overflow-y:auto;webkit-overflow-scrolling:touch}
.scroll-content{display:inline-flex}
.scroll-content .module-item{width:17vw}
.scroll-box::-webkit-scrollbar{display:none}
.scroll-content .module-item-go{width:20vw}
.scroll-box-y::-webkit-scrollbar{display:none}
.player-box{margin:-15px -30px 0}
.video-info-share{margin-right:-20px}
.block-box-bg{width:120px}
.block-box-content:hover .title::after,.block-box-item.selected .title::after{width:10px;margin-left:-5px}
.box{margin:10px -20px 50px;padding:30px 20px 20px;border-radius:0 0 18px 18px}
.box.view-heading{padding:20px 20px 25px 25px}
}

@media(min-width:559px){
    .player-info .video-info{position:relative}
.player-info .video-player-handle{display:inline-block;position:absolute;right:0;top:0}
}

@media(min-width:559px) and (max-width:899px){
    .sort-list .scroll-content{display:block;margin:0 -5px}
    .module-vod-list a{width:calc(20% - 10px);font-size:12px}
}

@media(max-width:559px){
.col-lg-wide-6{width:100%!important}
.col-lg-wide-25{width:100%!important}
.myui-vodlist__thumb{width:130px!important}
.out{display:none}
.hidden-xs{display:none!important}
.module-heading{margin-bottom:10px}
.module-heading .more{right:0;top:-2px;line-height:28px;font-weight:700}
.module-side .module-bg{margin:0 -15px;padding:0 15px}
.module-tab{white-space:normal}
.module-tab-content{text-align:inherit}
.module-tab-items{display:none}
.module-tab-drop{position:relative}
.module-tab .module-tab-items{position:fixed;width:100%;padding:15px;min-height:40vh;max-height:65vh;border-radius:18px 18px 0 0;display:inline-block;left:0;bottom:0;z-index:5000;background-color:#fff;transition-duration:300ms;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
.module-tab.module-tab-drop .module-tab-items{transform:translateZ(0);-webkit-transform:translateZ(0)}
.module-tab-drop+.shortcuts-mobile-overlay{top:0;background-color:rgba(0,0,0,.6);pointer-events:auto}
.module-tab-drop .module-tab-item{width:calc(33.33% - 10px);margin:5px;border-radius:10px;line-height:40px;font-size:14px}
.module-tab-title{position:relative;display:block;text-align:center;font-size:18px;font-weight:700;padding:5px 5px 10px}
.module-tab-name{display:block;font-size:14px}
.module-tab-name i{font-size:10px;transform:scale(.88);font-weight:900;margin:0 0 0 5px;vertical-align:1px}
.module-player-tab .module-tab-name{border-radius:10px 10px 0 0;background:#eaedf1;color:rgba(0,0,0,.68);padding:0 16px;line-height:45px;margin:0 0 -15px}
.module-tab-drop .module-tab-item{text-align:center;color:rgba(0,0,0,.83)}
.module-tab-drop .module-tab-item span{display:inline-block;width:calc(100% + 36px);margin:0 0 0 -18px}
.module-tab-drop .module-tab-item.selected{color:#e50914;background:#fef0e5}
.module-tab-item.selected:after{border:none}
.close-drop{position:absolute;left:5px;top:5px;height:30px;width:30px;line-height:28px;border-radius:50px}
.close-drop:hover{background:#eaedf1;color:#e50914}
.close-drop i{font-size:12px;transform:scale(.8);font-weight:700;vertical-align:0}
.module-title{font-weight:700;font-size:18px;margin:0;line-height:1.6}
.module-player-list{padding:15px;margin:10px -15px 20px}
.module-items{margin-right:-10px}
.module-side .scroll-box{padding-bottom:25px!important}
.module-main .module-item,.module-item{width:calc(33.33% - 10px)}
.module-item{margin:0 10px 12px 0}
.module-line-list .module-item:nth-child(n+7){display:none}
.module-main .module-lines-list .module-item:nth-child(n+9),.module-lines-list .module-item:nth-child(n+11),.module-line-list .scroll-box .module-item:nth-child(n+7){display:inline-block}
.module-main .module-lines-list .module-item:nth-child(n+10),.module-lines-list .module-item:nth-child(n+13){display:none}
.scroll-content .module-item{width:27vw}
.scroll-content .module-item-go{width:38vw}
.scroll-content .module-item-go .module-item-title{font-weight:700}
.module-item-caption{display:none}
.scroll-box{margin:10px -15px 0!important;padding:0 15px!important}
.module-blocklist{margin-top:0!important;padding-bottom:0!important}
.module-blocklist a{width:auto;margin:0 8px 0 0;padding:3px 20px;color:rgba(0,0,0,.83)}
.module-vod-list .module-blocklist a{white-space:nowrap;line-height:2.1;width:auto;padding:8px 20px}
.sort-list .module-tab{display:inline-block}
.module-sorttab .module-tab-content{max-height:60vh;overflow-y:auto;margin:0 -15px;padding:0 20px 60px}
.module-sorttab .module-tab-items{overflow:initial}
.module-sorttab .module-blocklist{max-height:100%}
.module-sorttab .module-blocklist a{width:calc(25% - 8px);margin:4px;padding:2px 12px;overflow:hidden;background:#f3f5f7}
.module-sorttab .module-blocklist a:hover{background:#eaedf1}
.module-vod-list .module-sorttab .module-blocklist a{width:calc(50% - 8px);line-height:2.9}
.sort-list{position:relative}
.sort-list .module-tab{margin:0 auto;height:auto;overflow:inherit;position:relative}
.sort-list .module-tab-name{position:absolute;font-size:14px;padding:0;left:50%;bottom:-86px;background:#eaedf1;margin-left:-8px;line-height:35px;width:60px;text-align:center;border-radius:0 0 15px 15px}
.sort-list .module-tab-name i{font-size:14px;color:rgba(0,0,0,.4);font-weight:700;height:10px;padding:1px 1px 0;overflow:hidden;margin:0;transform:scale(1)}
.sort-list .sort-button{position:absolute;right:5px;top:3px;font-size:14px;font-weight:400;color:rgba(0,0,0,.68);padding:5px 0}
.sort-list .sort-button i{margin-right:3px;color:#e50914;vertical-align:-10%}
.sort-list .sort-button:before,.sort-list .sort-button:after{transition:all .2s ease;content:'';position:absolute;width:7px;height:20px;background:rgba(255,255,255,.62);backdrop-filter:saturate(0%);-webkit-backdrop-filter:saturate(0%)}
.sort-list .asc.sort-button:before{left:7px;bottom:23px}
.sort-list .asc.sort-button:after{left:0;top:7px}
.sort-list .desc.sort-button:before{left:7px;bottom:7px}
.sort-list .desc.sort-button:after{left:0;top:-12px}
.box{margin:10px -15px -15px;padding:15px}
.box::before{bottom:-8px}
.box::after{bottom:-4px}
.player-box-side{padding:15px}
.player-box-side{margin:0 -15px -55px}
.close-btn{right:0;top:0}
.red{color:red}
.wh18{width:18px;height:18px}
.l{float:left}
#player-sidebar{height:100% !important}
#player-sidebar .myui-panel{padding:0!important;}

}